<a href="https://colab.research.google.com/github/Yashigupta0608/yashi-gupta/blob/main/Data_Types_and_Structures_Questions_assignment_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Types and Structures Questions

1. What are data structures, and why are they important ?
  - It is the way of organizing and storing data so that it can be acccessed and manipulated effeciently.A data structure is a specialized format for organizing, processing, retrieving and storing data.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable data types allow their values to be changed after creation, while immutable data types do not allow modification once created
 - Mutability means when you edit or modify list data like when users want to change list data like Ajay with Vijay that time when user use those method it's call mutability.list is mutable but string is immutable bcoz i can update data in list but we can not update string like ram ,a[0] = 'R'
3. What are the main differences between lists and tuples in Python ?
  - The primary difference between tuples and lists is that tuples are immutable instead of mutable lists. Therefore, it is possible to change a list but not a tuple. Due to tuples' immutability, the contents of a tuple cannot change once it has been created in Python.
4. Describe how dictionaries store data.
  - A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable
  - Python uses a hash table to store dictionary items.
  - Each key is hashed using a hash function (hash(key)) to generate an integer (hash value).
5. Why might you use a set instead of a list in Python ?
  - Since sets do not allow for more than one instance of the same element, sets become very useful to remove duplicate values from a list or tuple efficiently and to carry out standard math operations such as unions and intersections.
  - When ordering is important.
  - When duplicates are needed.
  - When index-based access is required (since sets do not support indexing).
6. What is a string in Python, and how is it different from a list ?
  - Strings in Python are sequences of characters enclosed in quotes ('' or “”).
  - Lists are ordered collections of items enclosed in square brackets [].
  - Strings are immutable, meaning they cannot be changed once created,
  - while lists are mutable and can be modified as needed.
7. How do tuples ensure data integrity in Python ?
  - Python tuples are immutable, i.e., once defined, they can't be modified. This can be utilized in data integrity by employing tuples for data that cannot be altered once created.
8. What is a hash table, and how does it relate to dictionaries in Python ?
  - In computer science, a hash table is a data structure that implements an associative array, also called a dictionary or simply map; an associative array is an abstract data type that maps keys to values.
  - In Python 3, dictionaries are implemented as hash tables, meaning:

     - Keys are hashed to determine storage location.
     - Values are retrieved in O(1) time (on average).
     - Duplicate keys are not allowed, as hashing ensures uniqueness.
9. Can lists contain different data types in Python ?
  - Yes, In Python 3, lists are heterogeneous, meaning they can contain elements of different data types within the same list.
  - However, in Python, lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list. Different elements of a list can be accessed by integer indices where the first element of a list has the index of 0.
10. Explain why strings are immutable in Python.
 - Strings in Python are immutable, meaning their content cannot be changed after they are created. If you try to modify a string, Python creates a new string instead of altering the existing one.
11. What advantages do dictionaries offer over lists for certain tasks ?

 - Dictionaries are useful when you have items which need accessing using some sort of key. To take a silly example, perhaps you have a list of people’s names, and you want to associate a telephone number with each name. You don’t care about the order - you just want to put in a name and get a phone number back. Dictionaries are perfect for this.
12. Describe a scenario where using a tuple would be preferable over a list.
  - A tuple is preferable over a list when immutability, performance, or hashability is required.
  - If you have data that shouldn't change, you should choose tuple data type over lists.
13. How do sets handle duplicate values in Python ?
  - In Python, sets automatically remove duplicate values because they are unordered collections of unique elements.
  - Also Using a loop and not Keyword.
14. How does the “in” keyword work differently for lists and dictionaries ?
  - The in keyword checks for membership within a list or collection. It acts differently when it comes to lists and dictionaries due to how these data types store and retrieve information.
15. Can you modify the elements of a tuple? Explain why or why not ?
  - No, you cannot modify the elements of a tuple because tuples are immutable.
  - Because tuples in Python are designed to be immutable, meaning once created, their elements cannot be changed, added, or removed.
 - That's happend because tuples are stored in a fixed memory location and use hashing to enable fast lookups when used as dictionary keys or set elements.
16. What is a nested dictionary, and give an example of its use case3 ?
 - A nested dictionary in Python is a dictionary whose values are dictionaries themselves, which provides a hierarchical data structure. An example application could be holding employee records grouped by department, with each employee's information in a nested dictionary.
17. Describe the time complexity of accessing elements in a dictionary.
 - The time complexity of accessing a value from a dictionary using its key is O(1). This is due to the fact that dictionaries internally employ a hash table that enables constant time access. Why O(1)? Hash tables employ the hash of the key to locate the memory address which supports direct access.
18. In what situations are lists preferred over dictionaries ?
 - For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are not ordered since they do not have a certain order of elements by insertion, and this non-order impacts data retrieval in such a way that elements cannot be accessed by their position (index).
20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists access elements by their numerical index (index 0), whereas dictionaries access elements (values) by their key, providing quicker lookups for large amounts of data. Both lists and dictionaries hold data, but they are different in terms of the way elements are accessed, searched, and retrieved.

#Practical Questions

1. Write a code to create a string with your name and print it

In [1]:
name = "Yashi Gupta"
print(name)

Yashi Gupta

2.  Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]  # Accessing the second-to-last element
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')  # Finds the index of "cat"
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()  # Removes all elements from the set
print(numbers)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.remove(4)  # Removes 4 from the set
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}

name_value = person['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [19, 24, 47, 77, 97]

28.  Write a code to create a list with strings and print the element at the third index.

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]

third_index_element = words[3]

print("Element at third index:", third_index_element)

Element at third index: date

29.  Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
print("Merged Dictionary:", dict1)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [ ]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]

fruits_set = set(fruits)

print("Set of strings:", fruits_set)

Set of strings: {'apple', 'cherry', 'banana'}